@{
    Layout = "~/Views/Shared/_Layouti4a.cshtml";
}

<div class="bgimg-1 w3-display-container w3-grayscale-min">
    <div class="w3-row dashboard-top">
        <div class="w3-col l4 w3-center">
            <div class="w3-jumbo row-width">
                <h3 class="w3-text-white w3-wide">MITARBEITER</h3>
            </div>



        </div>
        <div class="w3-col l4 w3-center">
            <div class="w3-jumbo row-width">
                <h3 class="w3-text-white w3-wide">R&Auml;UME</h3>
            </div>



        </div>
        <div class="w3-col l4 w3-center">
            <div class="w3-jumbo row-width">
                <h3 class="w3-text-white w3-wide">RECHNUNGEN</h3>
            </div>



        </div>
    </div>
</div>