@model innovation4austria.web.Models.RoomListModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bgimg-1 w3-greyscale-min w3-display-container">
    <div class="dashboard-top w3-row">
        <div class="w3-col l4">

            <div class="w3-container">
                <div class="w3-sidenav w3-margin bg-opacity-min bg-box-shadow">
                    <div class="w3-section w3-center">
                        <h3 class="w3-wide w3-text-white title-shadow">FILTER</h3>
                    </div>
                    @using (Ajax.BeginForm("_List", new AjaxOptions() { UpdateTargetId = "results", HttpMethod = "POST", InsertionMode = InsertionMode.Replace }))
                    {
                        <div class="w3-section w3-center w3-margin">
                            <label class="w3-label w3-text-white title-shadow w3-left-align">Start- und Enddatum</label>
                            <input name="daterange" type="text" id="date" class="form-control" value="@Model.Filter.FilterDate">
                        </div>
                        <div class="w3-section w3-center w3-margin">
                            <label class="w3-label w3-text-white title-shadow w3-left-align">Ausstattung</label><br />
                            <div class="w3-group">
                                @foreach (var item in Model.Filter.Furnishments)
                                {

                                    <label class="w3-text-white">@item.Name </label>
                                    @Html.CheckBoxFor(x => item.Checked)

                                }
                            </div>
                        </div>
                        <div class="w3-section w3-center w3-margin">
                            <input type="submit" value="Filtern" class="w3-btn w3-grey w3-text-white w3-hover-white w3-text-black w3-hover-opacity" />
                        </div>
                    }
                </div>
            </div>

        </div>
        <div class="w3-col l4" id="results">
            <div class="w3-container">

                @Html.Partial("_List",new List<innovation4austria.web.Models.RoomViewModel>())

</div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#date').daterangepicker({
                "autoApply": true,
                "locale": {
                    "direction": "ltr",
                    "format": "DD.MM.YYYY",
                    "separator": " - ",
                    "applyLabel": "Bestätigen",
                    "cancelLabel": "Abbrechen",
                    "fromLabel": "Von",
                    "toLabel": "Bis",
                    "customRangeLabel": "Custom",
                    "daysOfWeek": [
                        "So",
                        "Mo",
                        "Di",
                        "Mi",
                        "Do",
                        "Fr",
                        "Sa"
                    ],
                    "monthNames": [
                        "Januar",
                        "Februar",
                        "März",
                        "April",
                        "Mai",
                        "Juni",
                        "Juli",
                        "August",
                        "September",
                        "Oktober",
                        "November",
                        "Dezember"
                    ],
                    "firstDay": 1
                }
            }, function (start, end, label) {
                console.log("Neues Datum gewählt: ' + start.format('DD.MM.YYYY') + ' bis ' + end.format('DD.MM.YYYY') + ' (predefined range: ' + label + ')");
            });
        });

        $.ajaxSetup();
    </script>
}