<div id="banner" class="page-header">
    <div class="row">
        <h1>innovation4austria</h1>
        <p class="lead">we give room. for your ideas.</p>
    </div>
    <div class="row">

    </div>
</div>